<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cigar Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cigar Inventory</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3 class="list-empty" text-center *ngIf="items.length === 0">Your humidor is empty! Buy some cigars!</h3>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items, let i = index" #slidingItem>
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-label style="text-align: right;">{{item.quantity}}</ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon expand="block" (click)="editItem(item, i)" slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon expand="block" (click)="removeItem(i)" slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option>
          <ion-icon expand="block" (click)="addInventory(item, slidingItem)" slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon expand="block" (click)="removeInventory(item, i, slidingItem)" slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ion-list>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon (click)="addItem()" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
