<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Clash of Cigars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Zachary Rhodes</h2>
  <h4>email: zrhodes1@live.maryville.edu</h4>
  <h4>Student ID: 1044023</h4>
  <br>
  <h4>An app for tracking and reviewing an individuals cigar collection.</h4>
</ion-content>
